<div class="container">
    <button mat-raised-button color="primary" (click)="showList()">{{hideShow? 'Ocultar Lista' : 'Mostrar Lista'}}</button>
<div class="lista" *ngIf="hideShow">
    <table>
        <tr class="titulos">
            <td>NOMBRES</td>
            <td>COSTOS</td> 
        </tr>
        <tr class="contenido" *ngFor="let producto of productServices.productos">
            <td>{{producto.nombres}}</td>
            <td>{{producto.costos}}</td>
        </tr>
    </table>
</div>
</div>
